.contact-info {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 10px; 
}

.text-section {
    flex: 1; 
}

.icon-container {
    display: flex; 
    justify-content: flex-end;
    gap: 20px; 
    margin: 10px; 
}

.icon {
    cursor: pointer; 
}

  
  .icon.active {
    color: black; 
  }
  
  .icon.inactive {
    color: gray; 
  }
  
  